.home__ancora {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 259px;
    height: 36px;
    border-radius: 16px;
    background-color: var(--azul-escuro);
    transition: transform 200ms ease-in-out;
}
.home__ancora:hover {
    transform: scale(1.01);
}
.home__ancora p{
    color: var(--cor-de-fundo);
}
.container__ancora {
    padding: 3em 0 5.6em 0;
}