#menu-2 {
    position: absolute;
    opacity: 0;
    margin: 2em;
}
.cabecalho__servico {
    background-image: url(/assets/retangulo_azul.svg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
main {
    flex: 1;
}
.container-2 { 
    display: flex;
    align-items: center;
}
.container__rotulo-2 {
    cursor: pointer;
    position: relative;
    display: block;
    height: 12px;
    width: 18px;
    margin: 1.5em;
}
.container__rotulo-2 span{
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    background: var(--cor-de-fundo);
    transition: 0.25s ease-in-out;
}
.container__rotulo-2 span:nth-child(1){
    top: 0;
}
.container__rotulo-2 span:nth-child(2){
    top: 6px;
}
.container__rotulo-2 span:nth-child(3){
    top: 12px;
}

#menu:checked + .container__rotulo-2 span:nth-child(1){
    transform: rotate(-45deg);
    top: 6px;
}
#menu:checked + .container__rotulo-2 span:nth-child(2){
    opacity: 0;
}
#menu:checked + .container__rotulo-2 span:nth-child(3){
    transform: rotate(45deg);
    top: 6px;
}


.container__imagem-2 {
   padding: 1.5em;
}

.lista-menu-2 {
    display: none;
    position: absolute;
    top: 100%;
    max-width: 40vw;
}

.container__botao-2:checked ~ .lista-menu-2 {
    display: block;
}
.lista-menu__item-2 {
    font-family: var(--fonte);
    padding: .5em;
    background: var(--cor-de-fundo);
}
.lista-menu__link-2 {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}